{% extends "layouts/base.html" %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="row m-1">
      <div class="col-lg-6 col-md-12 col-12 mt-3 mx-auto">
        <div class="card shadow h-100">
          <div class="card-header pb-0">
            <h6 class="mb-0 font-weight-bolder">{{ form.name }}</h6>
          </div>
          <div class="card-body pb-0 p-3" style="min-height: 350px">
            <ul class="list-group">
              <li class="list-group-item border-0 w-60">
                <div class="mb-3">
                  <div class="text-bold">Description:</div>
                  <div class="mt-3">
                  <span class="text pt-1">
                    {{ form.description }}
                  </span>
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0 w-60">
                <div class="mb-3">
                  <div class="text-bold">Description:</div>
                  <div class="mt-3">
                  <span class="text pt-1">
                    {{ form.team }}
                  </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          {% if user.is_superuser and project %}
            <div class="card-footer pt-0 pb-1">
              <a class="btn btn-danger" href="{% url "manager:project-delete" pk=project.pk %}">
                Delete
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
{% endblock %}