{% extends "layouts/base.html" %}

{% block content %}
  <form action="" method="post" novalidate>
    {% csrf_token %}
    <div class="row m-1">
      <div class="col-lg-6 col-md-12 col-12 mt-3 mx-auto">
        <div class="card shadow h-100">
          <div class="card-header pb-0 w-90">
            <span class="text text-sm">Task name:</span>
            <h6 class="mb-0 font-weight-bolder">{{ form.name }}</h6>
          </div>
          <div class="card-body pb-0 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 w-90">
                <div>
                  <span class="text text-sm">Task description:</span>
                  <div class="d-flex mb-2 text-secondary">
                    {{ form.description }}
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0 w-60">
                <div>
                  <span class="text text-sm">Deadline local time:</span>
                  <div class="d-flex bg-white border border-radius-xl p-2">
                    {{ form.deadline }}
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0 w-60">
                <div>
                  <span class="text text-sm">Priority:</span>
                  <div class="d-flex bg-white border border-radius-xl p-2">
                    {{ form.priority }}
                  </div>
                </div>
              </li>
              <li class="list-group-item border-0 w-60">
                <div>
                  <span class="text text-sm">Type:</span>
                  <div class="d-flex bg-white border border-radius-xl p-2">
                    {{ form.task_type }}
                  </div>
                </div>
              </li>
              {% if not assigned_project %}
                <li class="list-group-item border-0 w-60">
                  <div>
                    {% if form.assigners.errors %}
                      <span class="text text-sm">{{ form.assigners.errors }}</span>
                    {% else %}
                      <span class="text text-sm">Assigners:</span>
                    {% endif %}
                    <div class="d-flex bg-white border border-radius-xl p-2 h-100">
                      {% if selected_user %}
                        <select name="{{ form.assigners.name }}" id="id_assigners" class="form-select" multiple>
                          {% for user in users %}
                            <option value="{{ user.pk }}" {% if user.pk == selected_user.pk %} selected {% endif %}>
                              {{ user.pk }}| {{ user.first_name }} {{ user.last_name }}
                            </option>
                          {% endfor %}
                        </select>
                      {% else %}
                        <select name="{{ form.assigners.name }}" id="id_assigners" class="form-select" multiple>
                          {% for user in users %}
                            <option value="{{ user.pk }}" {% if task and user in task.assigners.all %}
                                    selected {% endif %}>
                              {{ user.first_name }} {{ user.last_name }}
                            </option>
                          {% endfor %}
                        </select>
                      {% endif %}
                    </div>
                  </div>
                </li>
              {% else %}
                <input type="hidden" name="{{ form.project.name }}" value="{{ assigned_project.pk }}">
              {% endif %}
              <li class="list-group-item border-0 w-60">
                <div>
                  <span class="text text-sm">Tags:</span>
                  <div class="d-flex bg-white border border-radius-xl p-2">
                    <div class="form-switch me-2">
                    {% for tag in form.fields.tags.queryset %}
                        <div>
                          <input
                              class="form-check-input"
                              type="checkbox"
                              name="tags"
                              value="{{ tag.pk }}"
                              id="tag_{{ tag.pk }}"
                              {% if tag in form.initial.tags %}checked{% endif %}>
                          <label class="text text-sm text-dark" for="tag_{{ tag.pk }}">
                            {{ tag.name }}
                          </label>
                          {% if user.is_superuser %}
                            <span onclick="delete_tag({{ tag.pk }})" class="ms-2 cursor-pointer">
                              <i class="fas fa-times remove-user"></i>
                            </span>
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="d-flex align-items-center gap-2 mt-2">
                    <input type="text" id="tagInput" placeholder="Create Tag" class="form-control">
                    <button type="button" onclick="create_tag()" class="btn btn-sm btn-success mb-0">Create</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer pt-0 pb-1">
            <button type="submit" class="btn btn-success mt-2">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% include "includes/form_errors.html" %}
{% endblock %}
{% block extra_js %}
  <script>
      function create_tag() {
          const inputValue = document.getElementById("tagInput").value;
          fetch("{% url 'manager:create-tag' %}", {
              method: "POST",
              headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                  "X-CSRFToken": "{{ csrf_token }}"
              },
              body: `name=${inputValue}`
          })
          location.reload();
      }
      function delete_tag(pk) {
          fetch("{% url 'manager:delete-tag' %}", {
              method: "POST",
              headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                  "X-CSRFToken": "{{ csrf_token }}"
              },
              body: `pk=${pk}`
          })
          location.reload();
      }
  </script>
{% endblock %}
