{% load static %}


<!--   Core JS Files   -->
<script src="{% static "assets/js/core/popper.min.js" %}"></script>
<script src="{% static "assets/js/core/bootstrap.min.js" %}"></script>
{#<script src="{% static "assets/js/plugins/perfect-scrollbar.min.js" %}"></script>#}
{#<script src="{% static "assets/js/plugins/smooth-scrollbar.min.js" %}"></script>#}

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>
<script>
    document.querySelectorAll('.task-card').forEach(card => {
        card.addEventListener('mousemove', (e) => {
            const rect = card.getBoundingClientRect();
            const x = (e.clientX - rect.left) / rect.width - 0.5;
            const y = (e.clientY - rect.top) / rect.height - 0.5;

            const maxRotation = 15;
            const rotateX = Math.min(Math.max(y * maxRotation, -maxRotation), maxRotation);
            const rotateY = Math.min(Math.max(x * -maxRotation, -maxRotation), maxRotation);

            card.style.transform = `perspective(1000px) rotateX(${rotateX}deg) rotateY(${rotateY}deg) scale(1.1)`;
        });

        card.addEventListener('mouseleave', () => {
            card.style.transform = 'perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1)';
        });
    });
</script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static "assets/js/soft-ui-dashboard.min.js" %}?v=1.1.0"></script>